/* styles.css */

/* Title slide */
.reveal #title-slide .title    { font-size: 1.4em; }
.reveal #title-slide .subtitle { font-size: 0.85em; }
.reveal #title-slide .quarto-title-author-name { font-size: 0.75em; font-style: normal; font-weight: normal; }
.reveal #title-slide .date                     { font-size: 0.6em; font-style: normal; font-weight: normal; }

/* .reveal .slides section h2 { */

.reveal section h2 {
  font-size: 1.4em !important;
}

.reveal .slides section.no-title > h2 { display: none; }
.reveal .slides section.no-title { padding-top: 0; }
.reveal .slides section.no-title .content,
.reveal .slides section.no-title .cell { margin-top: 0; }
